<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	<connectionStrings>
		<add name="BaseDatos" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DatabaseCine.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime targetFramework="4.7.2"/>

		<customErrors mode="RemoteOnly" defaultRedirect="~ErrorPage.aspx" redirectMode="ResponseRewrite" >
			<error statusCode="404" redirect="~ErrorPage.aspx" />
			<error statusCode="500" redirect="~ErrorPage.aspx" />
		</customErrors>

	</system.web>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<httpErrors errorMode="Custom">
			<remove statusCode="404" />
			<error statusCode="404" path="~ErrorPage.aspx" responseMode="ExecuteURL" prefixLanguageFilePath="" />
			<remove statusCode="500" />
			<error statusCode="500" path="~ErrorPage.aspx" responseMode="ExecuteURL" prefixLanguageFilePath="" />
		</httpErrors>
	</system.webServer>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs"
			  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
			  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>

</configuration>
