body {
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.containerOptions {
    display: grid;
    grid-template-columns: 33.33% 33.33% 16.66% 16.66%;
    background-color: #4339f2;
    border-radius: 10px;
    padding: 20px 10px 40px 10px;
    width: 95%;
    background-image: url('../assets/administrar/backgroundPeliculaAdmin.svg');
}

    .containerOptions input {
        margin: 20px 20px 0px 20px;
        padding: 20px 30px 20px 30px;
        border: none;
        border-radius: 10px;
        opacity: 0.9;
    }
#ContentPlaceHolder1_buttonCrear {
    grid-column: 3;
    grid-row: 1;
    padding: 20px 10px 20px 10px;
    color: #4339f2;
    font-weight: bold;
    opacity: 1;
    cursor: pointer;
}

#ContentPlaceHolder1_buttonBorrar {
    grid-column: 4;
    grid-row: 1;
    background: #FF3A29;
    padding: 20px 10px 20px 10px;
    color: white;
    font-weight: bold;
    opacity: 1;
    cursor: pointer;
}

#ContentPlaceHolder1_rfidH {
    grid-column: 1;
    grid-row: 2;
    margin-left: 20px;
    vertical-align: bottom;
}
