body {
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.containerOptions {
    display: grid;
    grid-template-columns: 33.33% 33.33% 16.66% 16.66%;
    background-color: #4339f2;
    border-radius: 10px;
    padding: 20px 10px 40px 10px;
    width: 95%;
    background-image: url('../assets/administrar/backgroundPeliculaAdmin.svg');
}

    .containerOptions input {
        margin: 20px 20px 0px 20px;
        padding: 10px 20px 10px 20px;
        border: none;
        border-radius: 10px;
        opacity: 0.9;
    }

#ContentPlaceHolder1_idHora {
    grid-column: 1;
    grid-row: 2;
}

#ContentPlaceHolder1_idPelicula {
    grid-column: 2;
    grid-row: 1;
}

#ContentPlaceHolder1_buttonCrear {
    grid-column: 3;
    grid-row: 1;
    color: #4339f2;
    font-weight: bold;
    opacity: 1;
    cursor: pointer;
}

#ContentPlaceHolder1_buttonAct {
    grid-column: 4;
    grid-row: 1;
    color: #4339f2;
    opacity: 1;
    font-weight: bold;
    cursor: pointer;
}

#ContentPlaceHolder1_buttonBorrar {
    grid-column: 4;
    grid-row: 2;
    background: #FF3A29;
    color: white;
    font-weight: bold;
    opacity: 1;
    cursor: pointer;
}

#ContentPlaceHolder1_rfsala {
    grid-column: 1;
    grid-row: 2;
    margin-left: 20px;
}

#ContentPlaceHolder1_rfpelicula {
    grid-column: 2;
    grid-row: 2;
    margin-left: 20px;
}

#ContentPlaceHolder1_rfhora {
    grid-column: 1;
    grid-row: 3;
    margin-left: 20px;
}