body {
}


h1 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

h2 {
    margin-left: 20px;
}
.containerOptions {
    background: linear-gradient(263.56deg, #00FFB2 0%, #4339F2 100%);
    color: white;
    font-weight: bold;
    opacity: 1;
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 10px;
    opacity: 0.9;
}

    .containerOptions h1 {
        padding: 20px 6rem 20px 20px;
        border: none;
        border-radius: 10px;
        opacity: 0.9;
        color: white;
        text-align: left;
        vertical-align: middle;
        font-size: 2rem;
    }