body {
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.containerOptions {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    border-radius: 10px;
    width: 95%;
}

    .containerOptions div {
        margin: 20px 20px 0px 20px;
        padding: 10px 20px 10px 20px;
        border: none;
        border-radius: 10px;
        opacity: 0.9;
        background-color: #4339f2;
        color: white;
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        background-image: url('../assets/administrar/administrarUsuarioBoton.svg');
        background-position-x: right;
        }

#ContentPlaceHolder1_tarifaNormal {
    background-image: url('../assets/administrar/administrarUsuarioBoton.svg');
}
