################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/hada-p1/obj/Debug
/hada-p1/bin/Debug
/hada-p1/Properties
